<%- include("partials/header") -%>

<div id="wrapper">
	<div class="banner-container">
		<%- include("partials/banner-image") -%>
		<section class="hero is-small">
			<div class="hero-body">
				<div class="content container">

				</div>
			</div>
		</section>
	</div>
	<main class="is-flex is-flex-direction-column is-justify-content-space-between is-flex-grow-1">
		<div class="container py-2">

			<%- include("partials/entry-commands") -%>
		</div>
		<div id="postList" class="section">
			<div class="container">

				<% if (locals.entry.length) { %>
				<div class="columns mt-3 is-multiline is-variable is-6">
					<% locals.entry.forEach((entry) => { %>

						<div class="column is-full-mobile is-half-tablet is-one-third-fullhd">
							<%- include("partials/entry-component", { entry: entry }) -%>
						</div>

					<% }); %>
				</div>
				<% } %>

			</div>
		</div>

		<%- include("partials/entry-list-stats") -%>

	</main>
</div>

<%- include("partials/notification-messages") -%>

<%- include("partials/footer") -%>