<%- include("partials/header") -%>

<div id="wrapper">
	<div class="banner-container">
		<%- include("partials/banner-image") -%>
		<section class="hero is-small">
			<div class="hero-body">
				<div class="content container is-flex is-justify-content-center">
					<div class="is-flex is-flex-direction-column">

					</div>
				</div>
			</div>
		</section>
	</div>
	<main class="is-flex is-flex-direction-column is-justify-content-space-between is-flex-grow-1">
		<div id="postList" class="section">
			<div class="container">

				<%-include("partials/entry-section-component") -%>

			</div>
		</div>

		<%- include("partials/entry-list-stats") -%>

	</main>
</div>

<%- include("partials/notification-messages") -%>

<%- include("partials/footer") -%>