<%- include("partials/header") -%>

<div id="wrapper">
	<div class="banner-container">
		<%- include("partials/banner-image") -%>
		<section class="hero is-small">
			<div class="hero-body">
				<div class="content container is-flex is-justify-content-center">
					<div class="is-flex is-flex-direction-column">

					</div>
				</div>
			</div>
		</section>
	</div>
	<main class="is-flex is-flex-direction-column is-justify-content-space-between is-flex-grow-1">
		<div id="postList" class="section">
			<div class="container">

				<%- include("partials/entry-commands") -%>

				<div class="columns mt-3 is-multiline is-variable is-6">
					<% locals.entry.forEach((entry) => { %>

					<div class="column is-half">
						<%- include("partials/entry-component", { entry: entry }) -%>
					</div>

					<% }); %>
				</div>
			</div>
		</div>

		<%- include("partials/entry-list-stats") -%>

	</main>
</div>

<%- include("partials/notification-messages") -%>

<%- include("partials/footer") -%>